body {
	background-color:#77bb77;
	background-image:url("../images/background.jpg");
	background-size:cover;
	font-family:calibri, sans-serif;
}

/*General globally used styling*/

h1{
	font-size:30px;
	font-weight:bold;
	color:#697c52;
}

h2{
	font-size:24px;
	font-weight:bold;
	color:#697c52;
}

h3{
	font-size:18px;
	font-weight:bold;
	color:#697c52;
}

#content {
	background-color:rgba(255,255,255,1);
	margin:30px 250px;
}

.right_image {
	float:right;
	position:relative;
}

.left_image {
	float:left;
	position:relative;
}

footer {
	padding:20px 30px;
	background-color:#697c52;
}

#footer_logo {
	float:left;
}

#footer_content {
	text-align:right;
	position:relative;
}

#footer_content p {
	margin:5px;
	font-size:14px;
	font-weight:bold;
}

/*Styling for navigation bar*/
#navbar {
	background-color:#697c52;
	padding:2px 0px;
}

#navbar ul{
	text-align:center;
	background-color:#697c52;
	border:1px solid #ffffff;
	margin:0px;
	padding:0px;
}

#navbar li {
	display:inline-block;
	margin:5px 20px;
	text-transform:uppercase;
	font-weight:bold;
	color:#ffffff;
	font-size:20px;
}

#navbar a {
	text-decoration:none;
	color:#ffffff;
}

.expanded_nav{
	position:absolute;
}
/*Styling for home page*/
#main_body{
	padding:10px 40px;
}

.slider{
	position:relative;
	overflow:auto;
	box-shadow:10px #888888;
}
.slider li{
	list-style:none;
	line-height:200px;
}
.slider ul li{
	float:left;
	height:auto;
	text-align:center;
}
.slider ul{
	padding:0px;
}
.slider p{
	font-size:30px;
}
.slide1{
	background-image:url("../images/slider1.jpg");
	background-size:cover;
}