body {
	background-image:"images/background.jpg";
	font-family:Tahoma, sans-serif;
}

/*General globally used styling*/

#content {
	background-color:#ffffff;
}

.right_image {
	float:right;
	position:relative;
}

.left_image {
	float:left;
	position:relative;
}

/*Styling for navigation bar*/
#navbar {
	background-color:#697c52;
}

#navbar li {
	display:inline-block;
	margin:5px 15px 5px 15px;
	text-transform:uppercase;
	font-weight:bold;
	color:#ffffff;
}